.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.about .about-left {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem 1rem;
}

.sub-heading::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 1.8px;
  background-color: var(--main-color-dark-1);
  right: calc(-10% - 3rem);
  top: 50%;
  transform: translateY(-50%);
}

.about .heading-text {
  color: black;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.about .text {
  margin-bottom: 2rem;
}

.about .fancy {
  width: fit-content;
  padding: 1rem 3rem;
  height: fit-content;
  color: black;
  border-color: black;
}

.about .fancy::before {
  background: black;
}
.about .fancy .btn-text {
  color: black;
  align-items: center;
  justify-self: center;
}

.about .bottom-key-1,
.about .bottom-key-2,
.about .top-key {
  background: white;
}

.about .fancy:hover .btn-text {
  color: whitesmoke;
}

.about .fancy:hover::before {
  background: whitesmoke;
}
.about .about-right {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  transform: translateY(-5%);
}

.about .about-slider {
  width: 30rem;
  height: 100%;
  display: block;
  padding: 2rem 0rem 2rem;
}

.about .slide-img {
  width: 25rem;
  height: 30rem;
  object-fit: cover;
}

:root {
  --swiper-pagination-color: var(--main-color-dark-1);
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-width: 6px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 20px;
  size: 20px;
}
