@font-face {
  font-family: "Featured Item";
  src: local("Featured Item"), url(./fonts/FeaturedItem.ttf) format("truetype");
}

:root {
  --main-color-1: hsl(39, 65%, 58%);
  --main-color-dark-1: hsl(40, 65%, 42%);
  --sub-color-1: hsl(0, 0%, 90%);
  --bg-color-1: hsl(0, 0%, 17%);
  --bg-color-2: hsl(0, 0%, 0%);
  --bg-color-transparent: hsla(0, 0%, 0%, 0.53);
  --section-padding: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  position: relative;
  padding: var(--section-padding);
  height: 100vh;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
}

.text {
  color: var(--bg-color-1);
  line-height: 1.8;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sub-heading {
  width: fit-content;
  position: relative;
  display: inline-block;
  color: var(--bg-color-1);
  font-family: Featured Item;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.heading-text {
  color: black;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 20px;
  size: 20px;
}
