.our-people .container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.our-people .our-people-left {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem 1rem;
}

.our-people .heading {
  margin-bottom: 3rem;
}

.our-people .text {
  margin-bottom: 3.5rem;
}

.our-people .fancy {
  width: fit-content;
  padding: 1rem 3rem;
  height: fit-content;
  color: black;
  border-color: black;
}

.our-people .fancy::before {
  background: black;
}
.our-people .fancy .btn-text {
  color: black;
  align-items: center;
  justify-self: center;
}

.our-people .bottom-key-1,
.our-people .bottom-key-2,
.our-people .top-key {
  background: white;
}

.our-people .fancy:hover .btn-text {
  color: whitesmoke;
}

.our-people .fancy:hover::before {
  background: whitesmoke;
}
