.our-people .container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.our-people .our-people-left {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem 1rem;
}

.our-people .heading {
  margin-bottom: 3rem;
}

.our-people .text {
  margin-bottom: 3.5rem;
}

.our-people .fancy {
  width: fit-content;
  padding: 1rem 3rem;
  height: fit-content;
  color: black;
  border-color: black;
}

.our-people .fancy::before {
  background: black;
}
.our-people .fancy .btn-text {
  color: black;
  align-items: center;
  justify-self: center;
}

.our-people .bottom-key-1,
.our-people .bottom-key-2,
.our-people .top-key {
  background: white;
}

.our-people .fancy:hover .btn-text {
  color: whitesmoke;
}

.our-people .fancy:hover::before {
  background: whitesmoke;
}

.our-people .our-people-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 115%;
}

.our-people .slide-img {
  display: block;
  width: 15rem;
  height: 25rem;
  object-fit: cover;
  transition: 0.5s;
}

swiper-container.people-slider {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: auto;
}

swiper-container.people-slider swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: visible;
  align-items: center;
  position: relative;
  width: 15rem;
  z-index: 10;
  bottom: 0;
  transition: 0.6s ease-in-out;
}

swiper-container.people-slider swiper-slide.swiper-slide-active .slide-img {
  transform: translateY(-60px);
}

swiper-container.people-slider swiper-slide.swiper-slide-active .member-info {
  opacity: 1;
}

.our-people .member-info {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  z-index: -2;
  transition: 0.5s;
}

.member-info h3 {
  color: black;
}

.member-info p {
  color: gray;
}
.btns-box {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: relative;
}

.swiper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: lightgray;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-right: 0.5rem;
}
.swiper-btn i {
  color: black;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
}

.swiper-btn.nxt-btn i {
  transform: translateX(5%);
}

.swiper-btn.prev-btn i {
  transform: translateX(-5%);
}

.swiper-btn:hover {
  background-color: var(--bg-color-1);
}

.swiper-btn:hover i {
  color: whitesmoke;
}
